@import 'global';

.photoContainer {
    width: 30%;
    height: auto;
    align-items: center;
    justify-content: center;
    border-radius: 1.5rem;
    border: 0.1rem solid #CCAC86;
    padding: 0.8rem;
    background-color: #FFFCF7;
    display: flex;
}

.fullHeightImage {
    height: auto;
    width: 100%;
    border-radius: 1rem;
    object-fit: contain; /* ou remove complètement */
    display: block;
}

.infoContainer {
    font-family: $font-title;
    font-weight: bold;
    width: 70%;
    border-radius: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.variable {
    padding: 0.5rem 0.5rem;
    color: #CCAC86;
    font-family: $font-text;
    font-weight: bold;
}



