@import 'global';

.page{
    background-color: $background-lighter
}

.talent {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 80%;
}

.line {
    text-align: center;
}
